<style>
	/* highlight anchor targets (so that you can see what links go to) */
	:not(section):target {
		outline: dashed .2em brown;
		color:black;
	}

	section:target > :is(h1, h2, h3, h4, h5, h6):before {
		/* don't want to highlight the whole chapter / section */
		/* highlight the header instead */
		content: "👉";
		position: absolute;
		left: 0em;
	}

	a.anchorlink:before {
		content: " #";
	}
	a.anchorlink {
		all: unset;
		opacity: .1;
	}
</style>
<script>
	/* magic js to scroll non-chapter elements to the center of the screen instead of top
	when clicking on interdocument anchor links */
	window.addEventListener('hashchange', on_hash_change);
	function on_hash_change () {
		$("title").text("Pandora" + window.location.hash);

		let t = $(":not(section, h1, h2, h3, h4, h5, h6):target")[0];
		if(t){
			var rect = t.getBoundingClientRect();
			var position = rect.top/window.innerHeight;
			console.log(position);
			if(position <= .01){	
				let s = $(t).parents("section")[0];
				if(s){
					var s_rect = s.getBoundingClientRect();
					console.log(s_rect, rect);
					if((rect.top - s_rect.top) < window.innerHeight / 2){
						/* snap scroll to top of section */
						console.log("snap top")
						s.scrollIntoView({
							behavior: 'auto',
							block: 'start',
							inline: 'center'
						});
					} else 
					if((s_rect.bottom - rect.bottom) < window.innerHeight / 2){
						/* snap scroll to bottom of section */
						console.log("snap bottom")
						s.scrollIntoView({
							behavior: 'auto',
							block: 'end',
							inline: 'center'
						});
					}else{
						console.log("snap middle")
						t.scrollIntoView({
							behavior: 'auto',
							block: 'center',
							inline: 'center'
						});
					}
				} else {
					console.log("snap middle")
					t.scrollIntoView({
						behavior: 'auto',
						block: 'center',
						inline: 'center'
					});
				}
			}
		}
	}
	
	document.addEventListener("DOMContentLoaded", add_anchorlinks);
	function add_anchorlinks (){
		for( var el of $("section > :header")){
			el = $(el);
			let id = el.attr("id") || el.parent().attr("id");
			el.append($(`<a class=anchorlink href="#${id}"></a>`));
		}
	}
</script>
