<style>
	.count {
    color: grey;
	}

	[copy]:has(.tag.weak.primary) {
		opacity: 0.5;
	}
	
	.backlinks summary > a:first-child {
		margin-right: .2em;
	}

	.backlinks details:not([open]) {
    max-height: 3.5em;
		overflow: hidden;
	}

	.backlinks details.full {
		max-height: unset;
	}
	.backlinks details.full summary::marker {
		color: transparent;
	}

	html[backlinks=x] .backlinks details {
		max-height: unset;
	}
	html[backlinks=x] .backlinks summary::marker {
		content: "";
	}

	@scope ( div.backlinks:not(#lingo *, #allusion *) > details ){
		:scope {
			margin: 0.5em;

			/* overflow: hidden; */
			border: grey solid;
			background: white;
		}

		/*
		:scope.collapsed {
			max-height: 4em;
		}
		*/

		:scope.planning {
			border-left: #222 solid 0.3em;
			padding-left: .1em;
		}	

		:scope {
			padding-left: .4em;
		}

		/*
		:scope:hover {
			overflow: visible;
		}

		:scope > div {
			background: white;
			outline: solid;
		}

		:scope:hover > div {
			max-height:unset;
			position: relative;
			z-index: 1;
		}
		*/
	}

</style>
<script>
	var start_backlinks_opened = "";
	function update_bl_details(){
		if(document.documentElement.attributes.backlinks){
			start_backlinks_opened = document.documentElement.attributes.backlinks.value;
		}else{
			start_backlinks_opened = false;
		}

		if(start_backlinks_opened != "x"){
			$(".backlinks details").prop("open", start_backlinks_opened == "open");
		}
	}
	document.addEventListener("query", update_bl_details);

	function build_motifs(){
		update_bl_details();

		//used elsewhere
		$(":not(.planning) section > p").each(function(){
			let pn = $(this).paragraph_number();
			$(this).attr("pn", pn);

			//TODO replace with a polyfill for non id based anchors

			let id = $(this).parent("section").attr("id") + "p" + pn;
			$(this).attr("id", id);
		})
	
		var n = 0;
		var ls = [];
		$(".tag.motif:not(.toc *)").each(function(){

			var id = (new URL(this.href)).hash.slice(1);
			var e = $("#" + id);

			if(! this.id){
				this.id = id + n++;
			}

			if(e.length == 0){
				// console.log(`make section: ${id}`);
				e = $(`<section class="motif gen">`).attr("id", id);
				e.append($("<h3>"+id+"</h3>"));
				$("#unsorted").append(e);
				ls.push(e);
			}else{
				// TODO actually use this
				e.addClass("motif")
			}

			let p = $(this).parent().clone();
			p.contents().each(function(){
				if(this.nodeType == 3 && this.data.trim() != ""){
					let s = $("<span></span>").text(this.data).get(0);
					this.replaceWith(s);
				}
			});

			// prevent duplicate ids
			p.find(`[id]:not(#${this.id})`).removeAttr(id)

			let tag = p.find("#" + this.id);
			let tail = tag.nextUntil(":not(.tag)").addBack().last().nextAll()
			if(tail.text().length > 35){
				tail.remove();
			}
			tag.attr("href", "#" + this.id);
			tag.attr("id", this.id + "_copy");
			tag.addClass("primary")

			$(this).attr("href", "#" + tag.attr("id"))
			//p.find(".tag").remove();

			let pn = $(this).paragraph_number();
		
			var planning = false; // is this novel text?
			var chapter = $(this).parents(".chapter").first();
			if(chapter.length == 0){
				chapter = $(this).heading().parent().attr("id");
				planning = true;
			}else{
				chapter = chapter.find("h1,h2,h3,h4,h5,h6").first().text();
				if($(this).parents(".NOTE, .note").length){
					chapter += ".note";
					planning = true;
				}
				if($(this).parents(".comment.block").length){
					chapter += ".comment";
					planning = true;
				}
			}

			let loc = chapter + "." + pn;
			let target = p.attr("id") || this.id;

			let data = $("<span>").html(p.html());
			var v = $(`<details ${start_backlinks_opened} copy href='#${this.id}'><summary><a href='#${target}'>${loc}</a>${data.html()}</summary></details>`);

			if( planning ){
				v.addClass("planning");
			}

			v[0].backlink_source = this;
			
			var bl = e.find("> div.backlinks");
			if(bl.length == 0){
				bl = $("<div class=backlinks></div>")

				if(e.is(".chapter")){
					e.find("h1,h2,h3,h4,h5,h6").first().after(bl)
				}else{
					let child = e.find("> section").first();
					if(child.length){
						child.before(bl);
					}else{
						e.append(bl);
					}
				}
			}

			bl.append(v);
		});

		let v = $("div.backlinks");
		/*v.addClass("collapsed");
		v.on("click", function(){
			$(this).toggleClass("collapsed");
		});*/

		let motifs = $(ls /*"section.motif"*/).map(function(){
			let id = $(this).attr("id");
			let txt = $(this).find("h1,h2,h3,h4,h5,h6").first().text();
			let c = $(this).find("> div").length;
			return $(`<li><span class=count>[${c}]</span> <a href="#${id}">${txt}</a></li>`)
		}).get().sort( function (a,b){
			return a.find("a").text().localeCompare(b.find("a").text())
		});
		let ul = $("<div class=scroll><ul></ul></div>").html(motifs);
		$("#unsorted > :is(h1,h2,h3,h4,h5,h6)").after(ul);
	}

	function post_motifs(){
		if(start_backlinks_opened != "x"){
			var ls = []
			$(".backlinks summary").each( function(){
				let size = parseFloat( getComputedStyle( this, null).fontSize );

				if( this.$.height() <= size * 6 ){
					ls.push(this.$.parent()[0])
				}
			});
			$(ls).addClass("full");
		}

		$(".backlinks details").each(function() {
			//moved for perf
			let bg = this.backlink_source.$.parent().background();
			if(bg != "rgba(0, 0, 0, 0)"){
			 	this.$.css("background-color", bg);
			}

			let strike = this.backlink_source.$.parent().css("textDecorationLine");
			if(strike == "line-through"){
				this.$.find("summary > :not(a:first-child)").css("textDecorationLine", "line-through");
			}
		});
	}

	$.fn.heading = function() { 
	  return this.parentsUntil("*:has(:header)")  // element's ancestors until one which has children headings 
		.last()  // the ancestor that has sibling headings
		.prevUntil(":header")   // previous siblings until the nearest heading
		.addBack()  // in case the prevUntil() returns nothing
		.first()    // the first element after the heading
		.prev()
	}

	$.fn.paragraph_number = function(){
		return this.parents("p, ol, ul").addBack("p, ol, ul").last().prevAll("p, ol, ul").length + 1;
	}

	document.addEventListener("DOMContentLoaded", build_motifs);
	window.addEventListener("load", post_motifs);
</script>
