body {
    all: unset;    
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
		font-size: 2em;
}

body #main {
    margin: 0 auto;
    max-width: 36em;
    
    padding-left: 50px;
    padding-right: 50px;
    /* padding-top: 50px; */
    padding-bottom: 50px;
}

section{
	/* added this so js scroll magic works better*/
	padding-bottom: 1em;
	padding-left: 1.2em;
	padding-right: 1.2em;
}

/* paragraph indent styling */
section p {
	text-align: justify;
}

section p:not(li p) + p:not(#planning p) {
	text-indent: 2em;
}

section li {
	/* margin: 1em 0; */
}

/* novel style scene dividers */
hr:not(#footnotes hr, .here){
  all: unset;
  border: none;
}

hr:not(#footnotes hr, .here)::before {
  content: '* * *';
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: -0.5em;
}

h1, h2, h3 {
  padding-top: 1em;
}

img.chapterhead {
	max_width: 100%;
	max-height: 50vh;
  margin: auto;
  display: block;
}
