<!-- replaced with live-server <script type="text/javascript" src="http://livejs.com/live.js"></script>-->
<style>
	body {
		visibility: hidden;
	}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"></script>
<script>
	if(!window.chrome){alert("Requires chrome / chromium / brave / etc.");}
	
	Object.defineProperty(Node.prototype, "$", { get: function(){ return $(this) }});
	Object.defineProperty(String.prototype, "$", { get: function(){ return $(this.toString()) }});
	Object.defineProperty($.prototype, "$", { get: function(){ return this }});

	$.prototype.earlier = function(select){
		let el = this.parents().addBack().prevAll();
		return el.filter(select).add(el.find(select));
	};
	
	$.prototype.later = function(select){
		let el = this.parents().addBack().nextAll();
		return el.filter(select).add(el.find(select));
	};

	// These are kinda a work in progress
	$.prototype.ref = function(){
		return $( this.map((i,e) => e.ref) )
	};

	Object.defineProperty(Node.prototype, "ref", { get: function(){
		if(this.attributes.href){
			return $(this.attributes.href.value).get(); 
		}
	}});

	/*{
		const broadcast = {
			get(target, prop, receiver){
				console.log(target, prop, receiver);
				target()
			},
			apply(target, thisArg, argument){
				return target(...argument)
			}
		}

		$.prototype.each = new Proxy($.prototype.each, broadcast);
	}*/

	/* comment anchors have to be spans because you can't nest a tags for some deranged reason */
	function comment_span_fix(){
		$("span[href]").click(function(){
			$(this.attributes.href.value).scrollTop();
			location.hash = this.attributes.href.value;
			return false;
		});
	}
	document.addEventListener("DOMContentLoaded", comment_span_fix);

	document.addEventListener("DOMContentLoaded", function(){
		document.body.style.visibility = "visible";
	})
</script>

<nav id=rightbar class=fixed></nav>
