<script>
	function export_html(selector){
		let m = $(selector || "section.chapter");
		m.find(".tag.off").parent().remove();
		m.find(".tag, svg, .backlinks, .meta, meta, .comment, .subtext, .vimlink, .note, .NOTE, .insert, .anchorlink, .headinglink, .OFF").remove()
		m.find(".OFF").remove()
		m.find("span.auto").contents().unwrap()


		m.find("del").contents().remove();
		m.find("ins").contents().unwrap();
		m.find("p:empty").remove();

		m.remove();

		$("section").remove();
		$("div#main").append(m);

		$(".bigbar, #topbar, #rightbar, #TOC").remove();
		$("script").remove();

		let main = $("div#main");
		$("div#main > header + .toc").remove();
		$("div#main > header").after(main.make_simple_toc());

		let text = m.map((i, e) => e.outerHTML).get().join("");
		console.log(text);
		return text;
	}
	
	$.prototype.make_simple_toc = function(depth = -1){
			// TODO use this for backlinks
			var tree = $("<ul class=toc ></ul>");

			if(depth == 0){
				return false;
			}

			let ls = $(this).find("> section");
			for( var child of ls ){
				child = $(child);
				let txt = child.children("h1,h2,h3,h4,h5,h6").first().text();
				let a = $(`<a href="#${child[0].id}"/>`).text(txt);
				let li = $("<li></li>").append(a);
				
				let sub = child.make_simple_toc(depth = depth - 1);
				if(sub){
					li.append(sub);
				}
				tree.append(li);
			}

			if(tree.children().length == 0){
				return 0;
			}

			return tree;
	}

	function on_export(){ 
		let ex = document.documentElement.attributes.export;
		if( ex ){
			export_html("section.chapter");
			console.log(ex);
			if(ex.value != ""){
				only_chapters_until("#"+ex.value);
			}
		}
	}

	function only_chapters_until(a, b){
		$(a).nextAll("section").remove();
		$(b).prevAll("section").remove();
		$("div#main > header + .toc").remove();
		$("div#main > header").after($("div#main").make_simple_toc());
	}

	document.addEventListener("query", on_export);
	window.addEventListener("load", on_export);
</script>

<style>
	section.chapter {
		page-break-before: always;
	}
</style>
