<style>
	.timeline>a.unwritten {
		background: repeating-linear-gradient(45deg,
				transparent,
				transparent 10px,
				#333 10px,
				#333 20px);
	}

	section .timeline {
		height: 1em;
		border: solid;
		margin: 1em 0;
		width: 100%;
		background: white;
	}

	section:has(> .timeline) {
		background: none !important;
		border-right: solid 1em transparent;
		margin-right: -1em;
	}

	#timelines li > a {
		position: absolute;
		padding-right: 0.2em;
		transform: translateX(-100%);
	}

	#timelines {
		list-style: none;
	}

	#chapters .timeline {
		margin: .1em;
	}

	body > .bigbar {
		position: fixed;
		height: 100%;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 1em;
	}
	body > .bigbar > div > svg {
    width: 100%;
		height: 1em;
		border-bottom: solid;
	}

	body > .bigbar > div {
		display: contents;
	}
	body > .bigbar > div:before {
		content: attr(href);
		right: 3.5em;
		top: 0.5ex;
		position: relative;
		display: block;
		height: 0;
		width: 3em;
		text-align: end;
		visibility: hidden;
	}
	body > .bigbar > div:hover:before {
		visibility: visible;
	}

</style>

<script>
	// This gets the percent text with each rev state, and other stats on chapter doneness

	// call a function on every text_node in tree in order.
	$.prototype.visit = function* (filter) {
		if (filter && !filter(this)) {
			return;
		}

		var txt = false;
		for (const node of this.contents()) {
			if (node.nodeType == 3) {
				yield [this, node];
			} else {
				yield* $(node).visit(filter);
			}
			txt = true;
		}

		if (!txt) {
			yield [this, false];
		}
	}

	$.prototype.background = function () {
		let ls = $(this).parents().addBack().get().reverse();
		let default_bg = "rgba(0, 0, 0, 0)"
		let default_border = "rgb(0, 0, 0)"
		for (const element of ls) {
			var bg = $(element).css("background-color");
			if (bg != default_bg) {
				return bg;
			}
			
			if(element.$.hasClass("chapter")){
				bg = element.$.css("border-right-color");
				if (bg != default_border) {
					return bg;
				}
			}
		}
	}

	$.prototype.get_link = function () {
		let ls = $(this).parents().addBack().prevAll().addBack().get().reverse();
		for (el of ls) {
			if (el.id) {
				return "#" + el.id;
			}
		}
	}

	function rev_state(section) {
		//const motifs = $(section).find(".tag.motif");
		let g = $(section).visit(function (element) {
			return !$(element).is(".vimlink, .note, .NOTE, .comment, :header, .backlinks, .subtext");
		});

		var spans = [];

		for (var [element, node] of g) {
			if (!node
				|| !node.data.trim()
				|| $(element).is(".comment, :header")) {
				continue;
			}

			const regex = /\s+/gi;
			var data = {
				wc: node.data.trim().split(regex).length,
				bg: $(element).background(),
				href: element.get_link(),
				pn: element.closest("[pn]").attr("pn"),
			}

			spans.push(data);
		}

		
		spans = spans.reduce(function (ls, x) {
			let prev = ls.slice(-1)[0];
			if (prev && prev.bg == x.bg && prev.pn == x.pn) {
				prev.wc += x.wc;
				if (!prev.href) {
					prev.href = x.href;
				}
			}
			else {
				ls.push(x);
			}
			return ls;
		}, []);
	
		var color = $(section).background() || "rgba(0, 0, 0, 0)";

		var accum = 0;
		let svg = "";
		for( const d of spans ){
			svg += `<a xlink:href="${d.href}"><rect x="${accum}" y="0" width="${d.wc}" height="100%" fill="${chroma(d.bg || color).hex()}"/></a>`;
			accum += d.wc;
		}

		/*
		// target words
		// TODO max wc target
		let target_wc = $(section).find(".meta [data-wc]").attr("data-wc"); //XXX why does pandoc add data- to raw span in this case?
		if (target_wc) {
			let diff = Number(target_wc) - $(section).wordCount();
			if (diff > 20) {
				spans.push($(`<a class=unwritten href="#${section.id}" wc=${diff}></a>`))
			} else if (-diff > 20) {
				//TODO
			}
		}
		*/

			svg = make_svg(`<g id="${section.id + "_tlsvg"}">${svg}</g>`, accum, 1);
		let container = $(svg)
			.addClass("timeline")
			.css("max-width", `${accum}px`)
			.attr("href", section.id)
			//.attr("src", "data:image/svg+xml;utf8," + window.encodeURIComponent(svg))

		container.attr("size", accum);

		return container;

	}

	function make_svg(svg, w, h){
		return `<svg viewbox="0 0 ${w} ${h}" preserveAspectRatio="none" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">${svg}</svg>`;
	}

	document.addEventListener("DOMContentLoaded", add_timelines);
	function add_timelines() {
		let list = $("<ul id=timelines></ul>");
		for (var ch of $("section.chapter")) {
			let svg = $("<svg class=timeline></svg>");
			svg.attr("for", ch.id);
			$(ch).find("> :header").first().after(svg);

			let li = $(`<li><a href=#${ch.id}>${ch.id}</a></li>`)
			li.append(svg.clone());
			list.append(li);
		}

		$("#chapters > :header").after(list);
		let bigbar = $("<div class=bigbar>");
		document.body.$.append(bigbar);
	}

	window.addEventListener("load", function(){
		window.setTimeout(populate_timelines, 10);
	});
	function populate_timelines() {
		for (var ch of $("section.chapter")) {
			let svg = rev_state(ch);
			$(`.timeline[for="${ch.id}"]`).replaceWith(svg);
		}

		let svgs = $("#chapters #timelines svg");
		let bigbar = $("<div class=bigbar>");

		for(var svg of svgs){
			let s = svg.$.attr("size");
			let txt = make_svg(`<g transform="rotate(90,50,0)"><use href="#${svg.$.attr("href") + "_tlsvg"}"></g>`, 1, s );
			svg2 = $(txt);
			svg2.$.css("height", `${s}px`);
			svg2.$.css("max-width", "");
			bigbar.append($("<div>").attr("href", svg.$.attr("href")).append(svg2));
		}

		//svgs.attr("transform", "rotate(90,50,0)");

		$(".bigbar").replaceWith(bigbar);

	}
</script>
