<style>
	#topbar form#query div {
		display: inline;
	}
	#topbar form#query {
		display: inline;
		float: right;
	}
</style>

<form id=query>
	<div>
		<button id=i_export name=export /> export </button>


		<select name="backlinks">
			<option value="open" selected>open</option>
			<option value="">closed</option>
			<option value="x">x</option>
		</select>
	</div>
	<div>
		<input id=i_pv type=checkbox name=preview />
		<label for=i_pv>preview</label>
	</div>

	<div>
		<input id=i_ss type="radio" name="sidebar" value="visible" checked />
		<label for=i_ss>
			<select name="sidebar">
				<option value="double" selected>double</option>
				<option value="single">single</option>
			</select>
		</label>
	</div>

	<div>
		<input id=i_sh type="radio" name="sidebar" value="hidden" />
		<label for=i_sh>hidden</label>
	</div>
	
	<select name="editor">
		<option value="vim">vim</option>
		<option value="vscode">vscode</option>
	</select>
</form>

<script>

	// default to hidden on mobile

	var query_form_event = new Event("query");
	var query_attrs = new Set();
	function url_reflect(){
		let loc = document.location;
		let params = new URLSearchParams(loc.search);
		for (const [key, value] of params){
			query_attrs.add(key);
			document.documentElement.setAttribute(key, value);
		}
		for (const key of query_attrs){
			if(params.get(key) === null ){
				document.documentElement.removeAttribute(key);
			}
		}

		document.dispatchEvent(query_form_event);
	}

	document.addEventListener("DOMContentLoaded", function(){
		$("#topbar").append($("form#query"));
	});

	$(document.forms.query.elements).on("change", function(){
		let query = new URLSearchParams(new FormData(document.forms.query));
		console.log(query.toString());

		let url = new URL(document.location);
		url.search = query;

		console.log(url.toString());
		//navigation.navigate(url.toString());
		history.replaceState(null, '', url);
		url_reflect();
	});

	url_reflect();
	//navigation.addEventListener('navigate', url_reflect);
	navigation.addEventListener('currententrychange', url_reflect); //XXX not supported outside chromium

	$(":is(form#query :is(input,select), :is(input,select)[form=query]").each(function(){
		let params = new URLSearchParams(document.location.search);
		if(this.type == "checkbox" || this.type == "radio"){
			this.checked = params.getAll(this.name).includes(this.value);
		}
		if(this.tagName == "SELECT"){
			$(this).find("> option").each((_, e)=>{
				//console.log(this.name, e.value, e, this, params.getAll(this.name))
				e.selected = params.getAll(this.name).includes(e.value);
			});
		}
	});
</script>
