<script>
		
	const vp_offset = 0.0;
	$.fn.isInViewportOffset = function() {
			var elementTop = Math.floor($(this).offset().top);
			var elementBottom = elementTop + $(this).outerHeight();

			var viewportTop = $(window).scrollTop();
			var viewportBottom = viewportTop + $(window).height();

			// adjustment
			viewportTop    += vp_offset * $(window).height();
			viewportBottom -= vp_offset * $(window).height();

			/*console.log(elementTop, elementBottom, viewportTop, viewportBottom);*/

			return elementBottom >= viewportTop && elementTop <= viewportTop;
	};

	function update_scroll_percent(){
		//TODO refactor with ".chapter" but I need to add that first
		//TODO make this more efficient
		let ls = $("#main section:not(.note *, .NOTE *)").filter($.fn.isInViewportOffset);
		let s = ls.filter(function(){return $(this).find("*").filter(ls).length == 0}).first();
		if(!s.length){
			$(".scroll_percent").text("_");
			$(".scroll_percent").attr("href", null);
			return
		}
		/* console.log(ls, s) */
		
		var percent;
		while(true){
			let pos = $(window).scrollTop() - s.offset().top;
			let r = Math.max(pos / s.outerHeight(), 0);
			percent = Math.floor(r * 100);

			if(percent != 0){
				break
			}

			s = s.parent();
		}

		let title = s.find("> h1,h2,h3,h4,h5,h6").first().clone();
		title.find(".tag").remove(); //TODO actual ch id's in section

		var wc = s.attr("wc");
		wc = wc ? `[${wc}]` : "";
		

		$(".scroll_percent").text(title.text() + ` ${percent}%`);
		$(".current_ch_wc").text(wc);
		$(".scroll_percent").attr("href","#" + s[0].id);
	}

	document.addEventListener("scroll", update_scroll_percent);
	// As far as I can tell I don't need a on load handler for some reason

</script>

<div id=topbar><a class="scroll_percent"></a><span class=current_ch_wc></span></div>

<style>
#topbar {
	position:sticky;
	width: 100%;
	top: 0;
	background: white !important;
	z-index: 10;
	display: flex;
}

#topbar > #query{
	order: 4;
	margin-left: auto;
	flex-shrink: 0;
}
#topbar > .current_ch_wc{
	margin-left: 1em;
	color: lightgrey;
}
#topbar > .scroll_percent {
	min-width: 2.7em;
	text-wrap: nowrap;
	justify-content: right;
	display: flex;
}
</style>
