#planning {
		/* TODO maybe delete */
    background: #fff;
    margin: 0 -2em;
    position: relative;
    padding-left: 3em;
}

.block.meta {
	/* TODO */
	/*display: none;
	color: #222;
	background: #ccc;*/
	text-indent: 0;
	font-family: monospace;
}

.block.meta .tag.meta {
	display: none;
}

.block.meta > p {
	/* XXX wtf is this
	 * prevent tags from floating into novel text */
	display: flow-root;
}

.block.meta > p /*.tag*/ {
    /*float:right;*/
    /*text-align: right;*/
    margin-left: auto;
    width: max-content;
}

.block.meta > p:first-of-type:before,
.block.meta:has(> ul):before
{
	content: "META:";
	/*
	background: #333;
	color:white;
	*/
}


.block.meta:has(> ul):before{
	margin-right: -1em;
}

.block.meta > ul > li:first-of-type {
    list-style-type: none;
}

.block.meta > ul {
    margin: 0;
    flex-grow: 1;
}

.block.meta:has(> ul){
    display: flex;
    align-items: flex-start;
    width: max-content;
}


.block.meta span:has(> .tag){
    background: unset;
}

.tag {	
	/*font-family: monospace; for some reason this changes font height*/
}

.tag.link.task{
}
.tag.link.task:before{
	content: "#"
}

.tag.motif{
	font-weight: normal;
}

.tag.motif:before{
	content: attr(title);
	font-weight: bold;
}

.tag .tag {
	display: inline !important;
	font-size: .8em;
  vertical-align: 0.1em;
}

.tag.motif:not(:empty):before {
	margin-right: .2em;
}

.tag.goal{
    background: pink;
    color: black;
}

.tag:target {
	outline: solid black 0.2em;
}

:has(> .tag.off) {
	text-decoration: line-through;
	border: black solid;
  opacity: .7;
}

.tag.off {
	text-decoration: none;
  display: inline-block;
  background: #222;
  border-radius: 0;
  font-size: 1em;
	font-family: sans-serif;
}

.tag.off:empty::before{
	content: "x";
}

div.OFF {
	text-decoration: line-through;
	border: black solid;
  opacity: .7;	
	margin: 1em 0;
}

.comment:is(.link, .anchor):target {
	background: #ffa;
	color:#333;
	outline: 1px solid #333;
}

.comment:is(.link, .anchor), 
:is(div.NOTE, .note):before {
	background: #333;
	color: white;
	padding-left: .2em;
	padding-right: .2em;
}

/* .comment.link::after { */
/*    content:":"; */
/* } */
/* .comment.link { */
/* 	 margin-right: .5em; */
/* } */

span.comment.block{
	/*
  color:grey;
	text-decoration: underline;
	background:none !important; 
	*/
	color: #222;
	background: #ccc !important;
	display:block;
	text-indent: 0;
}

.tag.weak {
	opacity: .5;
}

p:has(.comment.block){
	text-indent: 0;
	border: solid;
}

p:has(:first-child.note){
	text-indent: 0 !important;
	border: solid;
	background: #ccc;
}

div.NOTE {
	border: solid;
}

div.NOTE, .note {
	color: #222;
	background: #ccc;
	text-indent: 0;
	/* padding: 0 1em; */
}

:is(div.NOTE, .note):before {
	content: "NOTE";
	display: inline-block; /* fixes gap on single line notes */
}

.insert{
	font-weight: bolder;
	font-family: arial;
	background: yellow;
	color: black;
	padding-left: .2em;
	padding-right: .2em;
	border: 1px solid black;
}


.tag.rev:empty:not([copy]:has(.comment.link) *, span.comment.block *, .meta *, .toc *) {
	display:none;
}

span.tag.done{
	background:brown;
}

span.tag:empty::before {
	content: attr(title);
}

.subtext{
	color: black;
  font-size: .6em;
  vertical-align: top;
  background: lightgray;
}

hr.here::before {
  content: "<== HERE";
  font-family: sans;
}

hr.here {
  background: chartreuse;
  border: solid;
  display: inline-block;
  /*text-align: center;*/
}

li:not(.toc li) {
	width: fit-content;
}

.tag {
	padding: 0 0.25em;
	text-decoration: none;
	text-indent: 0; /* this actually was a problem if tag was first thing in p*/
	border-radius: 0.45em;
	font-size: .9em;
	font-weight: bold;
	background: grey;
	color: white;
}

.tag.good {
	background: green;
	color: white;
}
:is(li, p, div, span, mark, ins, del, h1,h2,h3,h4,h5,h6):has( > .tag.good),
meta.rev.good ~ *
{
	background-color: lightgreen;
}
section:is( .good, :has(> .meta .tag.good)), #TOC li.good {
  background-color: #ddffdd;
  border-color: #ddffdd;
}

.tag.okay {
	#background: darkgrey;
	background: #a9a289;
	color: black;
}
:is(li, p, div, span, mark, ins, del, h1,h2,h3,h4,h5,h6):has( > .tag.okay),
meta.rev.okay ~ *
{
	#background-color: #ddd;
  background-color: #d9d5ca;
}
section:is( .okay, :has(> .meta .tag.okay)) {
	background-color: #ebe8e0;
	border-color: #ebe8e0;
}

.tag.work {
	background: blue;
	color: white;
}
:is(li, p, div, span, mark, ins, del, h1,h2,h3,h4,h5,h6):has( > .tag.work),
meta.rev.work ~ *
{
	background-color: lightblue;
}
section:is( .work, :has(> .meta .tag.work)) {
	background-color: #ddf;
  border-color: #ddf;
}

.tag.todo { 
	background: yellow;
	color: black;
}
:is(li, p, div, span, mark, ins, del, h1,h2,h3,h4,h5,h6):has( > .tag.todo),
meta.rev.todo ~ *
{
	background-color: khaki;
}
section:is( .todo, :has(> .meta .tag.todo)) {
  background-color: #ffb;
  border-color: #ffb;
}

.tag.fix {
	background: red;
	color: black;
}
:is(li, p, div, span, mark, ins, del, h1,h2,h3,h4,h5,h6):has( > .tag.fix),
meta.rev.fix ~ *
{
	background-color: #ff7a7a;
}
section:is( .fix, :has(> .meta .tag.fix)) {
  background-color: #fbb;
  border-color: #fbb;
}

.tag.move {
	background: orange;
	color: black;
}
:is(li, p, div, span, mark, ins, del, h1,h2,h3,h4,h5,h6):has( > .tag.move){
	background-color: lightsalmon;
}
section:is( .move, :has(> .meta .tag.move)) {
  background-color: #fec;
  border-color: #fec;
}

meta.rev.reset ~ *
{
	/* XXX fixme totally broken -- precidence is by rule order not by nearest sibling */
	background-color: transparent;
}

/* .tag.reset {
display: None;
}
:is(p, div, span, mark):has( > .tag.reset){
background: none;
}*/



.tag.alt{
	background-color: purple;
}
:is(li, p, div, span, mark, ins, del, h1,h2,h3,h4,h5,h6):has( > .tag.alt){
	/* border-left: 2px solid black; */
	/* border-right: 2px solid black; */
	background: violet;
}
section:is( .alt, :has(> .meta .tag.alt)) {
  background-color: #fbf;
  border-color: #fbf;
}

@scope (html[preview=on] ) {
	* {
		background: none !important;
	}

	:is(del, .OFF, .NOTE, .comment, .tag, .insert, .subtext, .note, .timeline, p:has(.comment.block) ) {
		display: none !important;
	}

	:is(ins){
		text-decoration: none !important;
	}

	:scope {
		border-right: none !important;
	}

	:scope.chapter .backlinks{
		display: none;
	}

	:has(> .tag.off) {
		display: none !important;
	}

	p {
		border: none !important;	
	}
}
