<style>
	body {
		display: grid;    
		grid-template-columns: auto 1fr auto;
	}
	body > * {
		grid-column: 2;
		grid-row: 1;
	}
	body > nav#TOC {
		grid-column: 1;
	}

	nav.fixed {
		position: sticky;
		top: 0;
		
		box-sizing: border-box;
		height: 100vh;
		width: 100%;

		width: max-content;
		min-width: 13em;

		display: flex;
		flex-direction: column;

		background: white !important;
	}

	.scroll {
		overflow-y: auto;
		flex-basis: auto;
		flex-shrink: 1;
		max-width: max-content;
	}

	nav.loading{
		visibility: hidden;
	}

	body > nav#rightbar.fixed{
		grid-column: 3;
		margin-left: auto;
	}

	@scope (html[sidebar=single]) {
		#rightbar {
			overflow: auto;
			flex-shrink: 1;
			flex-basis: 0%;
			flex-grow: 1;
			min-height: 20%;
		}
	}
	@scope (html[sidebar=hidden]) {
		#rightbar, #TOC {
			display: none;
		}
	}

	#rightbar:empty {
		display:none;
	}

	.toc li .count {
		padding-right: .3em;
	}

	.toc {
		list-style-type: none;
		width: max-content;
	}

	.toc li>div {
		display:flex;
	}
	.toc li>div .spacer {
		flex-grow: 1;
		height:0;
		border-bottom: dashed grey;
		align-self: center;
	        margin: 0 0.5em;
	}
	
	.toc li>div .spacer:has(+ .tags:empty) {
		border-bottom: none;
	}

	.toc li>div .tags {
		/* float right */
		align-self: flex-end;
	}

	.tags {
    		background: none !important;
	}

	.toc .toc {
			width: 100%;
			box-sizing: border-box;
	}

	/*
	li[level] div:before {
		content: "⤷";
		line-height: 0;
    padding-top: 0.5em;
    margin-right: 0.2em;
	}*/

</style>

<script>
	$.prototype.target = function(){
		  var href = this[0].href;
			var id = (new URL(href)).hash.slice(1);
			return $("#" + id);
	}

	$.prototype.make_toc = function(depth = 1){
			// TODO use this for backlinks
			var tree = $("<ul class=toc ></ul>");

			let ls = $(this).find("> section");
			for( var child of ls ){
				child = $(child);
				let txt = child.children("h1,h2,h3,h4,h5,h6").first().html();
				let a = $(`<a href="#${child[0].id}"/>`).html(txt);
				let li = $("<li></li>").append(a);
				li.prepend(a.find(".count"));

				tree.append(li);
			}

			this.find("> :is(h1,h2,h3,h4,h5,h6)").after(tree);
	}

	/* $.prototype.unwrap_li = function(){
		let level = (Number(this.$.attr("level")) || 0) + 1;

		let e = $(this).find("> ul > li").remove();
		e.find("[level]").each(function(){
			console.log(this);
			let l = Number(this.$.attr("level")) + 1;
			this.$.attr("level", l);
			this.$.css("margin-left", `${l}em;`);
		});
		e.attr("level", level);
		e.css("margin-left", `${level}em`);
		this.$.after(e);
	} */
	

	document.addEventListener("DOMContentLoaded", init_toc );
	function init_toc(){
		$("#TOC ul").first().append(`<li><a href="#brainstorming" id="toc-brainstorming">Brainstorming</a></li>`);
		$("section#brainstorming").appendTo("section#planning");

		let meta = $("section > :is(h1,h2,h3,h4,h5,h6):first-of-type + :is(blockquote)") //NOTE removed match for ul
			.filter("#planning *, :has(.meta, .META)");

		meta.filter("ul").wrap($(`<blockquote class="meta block">`));
		meta.filter("blockquote").addClass("meta").addClass("block");
		meta.each(function(){
			//$(this).find(".tag.rev").first().attr("");
		});

		$("#TOC li a").each(function(){
			var txt = $(this).text();
			
			if(txt.length > 15){
				txt = txt.slice(0, 10) + ".." + txt.slice(-5);
				$(this).text(txt);
			}
		});

    // span wrapping, TODO REMOVE
		// this hack takes all raw text directly inside of <p> tags and wraps it in spans
		$("p").each(function(){
			function textNodeFilter() {
    		return this.nodeType == 3;
			}
			$(this).contents().filter(textNodeFilter).each(function(index) {
				var textNode = $(this);
				var value = textNode.text();
				if(value.trim() == "") return
				var oSpan = $("<span>").html(value).addClass("auto");
				textNode.replaceWith(oSpan);
			}); 
		});
		
		$("#planning section").each(function(){
			if(this.id){
				let c = $(`a.tag[href="#${this.id}"]`).length;
				if(c){
					$(this).find("h1,h2,h3,h4,h5,h6").first().append($(`<span class=count> [${c}]</span>`));
				}
			}
		});

		$("#planning section, #brainstorming").each(function(){$(this).make_toc();});

		// add toc to planning sections
		$("#planning").make_toc();

		$("#planning .toc li").each(function(){
			let target = $(this).find("a").target()
			let tags = target.find("> .meta .tag:not(.meta)").clone();
			$(this).append($("<span class=spacer>"))
			$("<span class=tags>").append(tags).appendTo($(this));
			$(this).contents().wrapAll("<div>");
		})

		// add child toc to parent toc's
		$($("#planning .toc li").get().reverse()).each(function(){
			let target = $(this).find("a").target()
			let sub = target.find("> .toc").first();
			$(this).append(sub.clone());
			//$(this).unwrap_li();
		})

		// This part creates spans around \GOOD \WORK etc. rev tags, together with prior siblings (untill the next rev tag)
		// This allows styling to work correctly
		$("p > .tag.rev").each(function(){
			$(this).prevUntil(".tag.rev").addBack().wrapAll("<span>");
		});

		// FIXED SIDEBARS
		$("#TOC").addClass("fixed").addClass("loading")

		$("body > :not(nav.fixed)").wrapAll($("<div id=main>"));
		$("#TOC > ul").wrapAll("<div class=scroll>")

		function update_sidebars(){
			let stuff = $("html[sidebar=single] #rightbar");
			stuff.removeClass("fixed");
			$("#TOC").append(stuff);

			let stuff2 = $("html[sidebar=double] #rightbar");
			stuff2.addClass("fixed");
			$("body").append(stuff2);
		}

		//update_sidebars();
		document.addEventListener("query", update_sidebars);
	}

	window.addEventListener("load", post_toc );
	function post_toc(){
		// rev state color
		$("#TOC li a").each(function(){
			//TODO this doesn't work if page starts in preview mode, and is really kinda a hack to begin with
			var color = $(this).target().background();
			console.log(this.$.target(), color);
			$(this).parent().css("background-color", color);
		});
		$("#TOC").removeClass("loading");
	}
</script>
