<style>
	span.word-count {
		color: grey;
		text-indent: 2em;
		float: right;
	}

	.word-total {
	}

	#TOC li {
		width: 100%;
	}

	.word-count-select-all {
		color: grey;
	}

	.word-count-select-text {
		margin-left: 1em;
	}

	.word-count-select-all:not(:empty)::before {
    content: " ~ ";
	}
</style>
<script>	

	$.prototype.wordCount = function(){
		var regex = /\s+/gi;
		var wc = this.text().trim().split(regex).length;
		return wc;
	}

	window.addEventListener("load", add_word_counts);
	function add_word_counts(){
		// DYNAMIC WORD COUNTS
		var total = 0;
		$("#TOC li:not(:has(.word-count)) a").each(function(){
			var a = $(this);
			var s = $(a.attr("href")).first();
			if(! s.is("#planning *, #planning")){
				let sc = s.clone();
				sc.find(".comment, .NOTE, .tag, .note, .insert, .backlinks, .OFF").remove();
				
				let wc = sc.wordCount();
				total += wc;

				s.attr("wc", wc);
				a.append($(`<span class="word-count"> [${wc}]</span>`));
			}
		});

		$("#TOC").append(`<span class=word-total>TOTAL: ${total}</span>`);
		$("#topbar").append(`<span>
			<span class=word-count-select-text></span>
			<span class=word-count-select-all></span></span>
		`);
	}

	function selected_word_count(){
		var s = window.getSelection();

		var wc_all, wc_text;
		if(s.rangeCount == 0){
			wc_all = wc_text = "";
		}else{
			s = s.getRangeAt(0).cloneContents();
			s = $(s);

			wc_all = s.wordCount() 
			s.find(".comment, .NOTE, .tag, .note, .insert, .OFF").remove();
			wc_text = s.wordCount()

			if(wc_all == 1){
				wc_all = "";
				wc_text = "";
			}
			

			if(wc_all == wc_text){
				wc_all = ""
			}
		}

		
		$(".word-count-select-text").text(wc_text);
		$(".word-count-select-all").text(wc_all);
	}

	document.addEventListener("selectionchange", selected_word_count);

</script>
